<div class='title'>
  My Join Communities <small><span id="my_communities_size"><%= @communities_joined.size %></span></small>
</div>

<div class='my_communities'>  

  <!--Show the list of communities-->
	<ul id='community_list'>
  	<% if @communities_joined.size > 0 %>
			<% @communities_joined.each_with_index do |community, index| %>		
				<% if index < 10 %>  <!-- 본인이 가입한 커뮤니티를 최대 10개만 표시 -->
					<%= markup_community(community) %>
				<% else %> <!-- 10개를 넘어가면 more... 으로 표시하고 링크로 이동. -->
					<li>> <%= link_to "#{(@communities_joined.size - 10)} more...", my_communities_path(@other_user.nil? ? current_user : @other_user) %></li>
					<% break %>
				<% end %>
			<% end%>
		<% end %>	  	
	</ul>

  <!--Add a community-->
	<div><%= link_to raw("<i class='icon-group'></i> Create a community"), "#", id:'add_a_community_link' %></div>
  <div class='community_form'>
    <%= render 'communities/form_for_widget' %>
  </div>

</div>   

