<div class='well'>
  <div class='row-fluid'>
  <%= simple_form_for(@item) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.try(:id) }  %>
      <%= f.input :photo, as: :file  %>
      <%= f.input :remote_photo_url, placeholder: '또는 이미지 주소를 입력하세요.', label: false, input_html: { class:'span12' } %>
      <% if @item.photo? %>
      <div class='row-fluid'>
        <div style='margin-bottom:1em;'>
          <%= image_tag(@item.photo_url(:thumb)) %>
          <label id='item_remove_photo'><%= f.check_box :remove_photo, style:'margin-top:0;' %><span class='help-inline'>remove</span></label>
        </div>
      </div>
      <% end %>
      <%#= f.input :url_ref, placeholder: '이 필드는 무슨 용도인지 모르겠습니다. ^^', input_html:{class:'span12'} %>

      <ul class="nav nav-tabs">
        <li class='active'><a href="#editor" data-toggle="tab">Description</a></li>
        <li><a href="#preview" data-toggle="tab">Preview</a></li>
        <li><a href="#output" data-toggle="tab">HTML Output</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="editor">
          <div id='editor-button-bar'></div>
          <div id='editor-help-panel'><%= render "layouts/shared/editor_help" %></div>
          <%= f.input :description, label: false, input_html:{class: 'span12', rows:15} %>
        </div>
        <div class="tab-pane" id="preview">
          <div id='editor-preview'></div>
        </div>
        <div class="tab-pane" id="output">
          <div id='editor-output'></div>
        </div>
      </div>
       
      <script>
        $(function () {
          $('#myTab a:last').tab('show');
        })
      </script>
        
      <div class='row-fluid'>
        <div class="span12">
        <%= f.input :tag_list, input_html: { class:'span12', data: { tags: @item.tags } } %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save" %>
      <!-- for New -->
      <%= link_to 'Back', items_path, class:'btn' if action_name == 'new' %>
      <!-- for Edit -->
      <% if action_name == 'edit' %>
        <%= link_to 'Show', @item, class:'btn' %> 
        <%= link_to 'Back', items_path, class:'btn' %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
