<div class="item media">
  <div class="pull-left">
    <!-- <img class="media-object" data-src="holder.js/64x64"> -->
    <%= link_to image_tag(item.photo_url(:gallery_image)), item.photo_url, rel: 'lightbox-photo', title: truncate(strip_tags(item.description), length: 100) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to_unless (current_user == item.user), item.user.email, items_path(user_id: item.user_id) %></h4>
    <div class='description'>
      <%= truncate(strip_tags(item.description), length: 200) %>
    </div>
    <% if item.tags.size > 0 %>
    <div class='tag_list' %>
      <i class="icon-tag"></i> Tags: <%= raw item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </div>
    <% end %>

<!--     <div class='start_count' %>
      Start Count: <%= item.starts_count %>
    </div> -->

    <div id='like_<%= item.id %>' class='like'>
      <%= render 'items/like_status', item: item %>
    </div>
    
    <%= render "comments", item: item %>

    <div class='actions'>
      <%= link_to 'Show', item_path(item), class:'btn' %>
      <% if user_signed_in? and current_user.can_update? item %>
        <%= link_to 'Edit', edit_item_path(item), class:'btn' %>
        <%= link_to 'Destroy', item, method: :delete, data:{confirm: 'Are you sure?'}, class:'btn' %>
      <% end %>
    </div>
  </div>
</div>