<div class='show_item'>
  <div class='photo'>
    <%= image_tag(item.photo_url) %>
  </div>
  <div class='user'>
    <%= item.user.email %> (<%= time_ago_in_words(item.created_at)%> ago)
  </div>
  <div class='description' id='description'></div>

  <%= javascript_tag defer: 'defer' do -%>
    var converter = new Showdown.converter();
    $("#description").html(converter.makeHtml("<%=j @item.description %>"));
  <% end -%>

  <div class='tag_list' %>
    <i class="icon-tag"></i> Tags: <%= raw @item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
  <div id='like_<%= item.id %>' class='like start_count'>
    <%= render 'layouts/shared/like_status', likeable: item %>
  </div>

  <!--List up comments of this item.-->
  <%= render "comments", item: item %>

</div>


