<div id="items" 
  data-total-pages="<%= @items.total_pages %>" 
  data-url="<%= items_path %>"
  data-loader-image="<%= image_path('load1.gif') %>"> 
  <%= render @items %>
</div>

<!--To apply bottom-less pagination using pageless jQuery plugin-->
<!--Gem : pageless-rails & will_paginate-->
<%= will_paginate @items %>
