<div class="item media">
  <div class="pull-left">
    <!-- <img class="media-object" data-src="holder.js/64x64"> -->
    <%= link_to image_tag(item.photo_url(:gallery_image)), item.photo_url, rel: 'lightbox-photo', title: truncate(strip_tags(item.description), length: 100) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to_unless (current_user == item.user), item.user.email, items_path(user_id: item.user_id) %></h4>
    <div class='description'>
      <%=raw item.description %>
    </div>
    <div class='tag_list' %>
      Tags: <%= raw item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </div>
    <div class='start_count' %>
      Start Count: <%= item.starts_count %>
    </div>
    <div class='actions'>
      <%= link_to 'Show', item_path(item), class:'btn' %>
      <%= link_to 'Edit', edit_item_path(item), class:'btn' %>
      <%= link_to 'Destroy', item, method: :delete, data:{confirm: 'Are you sure?'}, class:'btn' %>
    </div>
  </div>
</div>